<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_root" name="QLKH" sequence="10"/>

        <menuitem id="menu_khach_hang" name="Quản lý khách hàng" parent="menu_root" sequence="10" action="action_khach_hang"/>
        <menuitem id="menu_phan_cong_cong_viec" name="Phân công" parent="menu_root" sequence="20" action="action_phan_cong_cong_viec"/>

        <menuitem id="menu_danh_muc" name="Công cụ" parent="menu_root" sequence="30"/>

        <menuitem id="menu_ho_tro_khach_hang" name="Phiếu hỗ trợ" parent="menu_danh_muc" sequence="1" action="action_ho_tro_khach_hang"/>
        <menuitem id="menu_khach_hang_tiem_nang" name="Khách hàng tiềm năng" parent="menu_danh_muc" sequence="2" action="action_khach_hang_tiem_nang"/>
        <menuitem id="menu_hoat_dong" name="Hoạt động" parent="menu_danh_muc" sequence="3" action="action_hoat_dong"/>
        <menuitem id="menu_hop_dong" name="Hợp đồng" parent="menu_danh_muc" sequence="4" action="action_hop_dong"/>
        <menuitem id="menu_danh_gia_nhan_vien" name="Đánh giá nhân viên" parent="menu_danh_muc" sequence="5" action="action_danh_gia_nhan_vien"/>
    </data>
</odoo>